<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ title }}</title>
<base href="{{ base }}" />
{% if (description) %}<meta name="description" content="{{ description }}" />{% endif %}

{% if (keywords) %}<meta name="keywords" content= "{{ keywords }}" />{% endif %}

<!-- Open Graph -->
{% if og_title is defined and og_title %}<meta property="og:title" content="{{ og_title }}" />{% endif %}
{% if og_description is defined and og_description %}<meta property="og:description" content="{{ og_description }}" />{% endif %}
{% if og_url is defined and og_url %}<meta property="og:url" content="{{ og_url }}" />{% endif %}
{% if og_image is defined and og_image %}<meta property="og:image" content="{{ og_image }}" />{% endif %}
{% if og_site_name is defined and og_site_name %}<meta property="og:site_name" content="{{ og_site_name }}" />{% endif %}
{% if og_type is defined and og_type %}<meta property="og:type" content="{{ og_type }}" />{% endif %}
{% if og_title is defined and og_title %}<meta property="og:locale" content="ru_KZ" />{% endif %}
<!-- Twitter Card -->
{% if og_title is defined and og_title and og_image is defined and og_image %}
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ og_title }}" />
{% if og_description is defined and og_description %}<meta name="twitter:description" content="{{ og_description }}" />{% endif %}
<meta name="twitter:image" content="{{ og_image }}" />
{% endif %}
{% if (canonical_url) %}<link rel="canonical" href="{{ canonical_url }}" />{% endif %}

<meta http-equiv="X-UA-Compatible" content="IE=edge">
{% for link in links %}<link href="{{ link['href'] }}" rel="{{ link['rel'] }}" />{% endfor %}
<link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="preload" as="style" />
<link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
<style>
@font-face {font-display:swap;font-family: 'Roboto Condensed';src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url('catalog/view/theme/newstore/stylesheet/fonts/Robotocondensed.woff2') format('woff2'), url('catalog/view/theme/newstore/stylesheet/fonts/Robotocondensed.woff') format('woff'), url('catalog/view/theme/newstore/stylesheet/fonts/Robotocondensed.ttf') format('truetype');font-weight: 400;font-style: normal;}
@font-face {font-display:swap;font-family: 'Roboto Condensed';src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url('catalog/view/theme/newstore/stylesheet/fonts/Robotocondensedbold.woff2') format('woff2'), url('catalog/view/theme/newstore/stylesheet/fonts/Robotocondensedbold.woff') format('woff'), url('catalog/view/theme/newstore/stylesheet/fonts/Robotocondensedbold.ttf') format('truetype');font-weight: 600;font-style: normal;}
@font-face {font-display:swap;font-family:'FontAwesome';src:url('catalog/view/theme/newstore/font-awesome/fonts/fontawesome-webfont.eot?v=4.7.0');src:url('catalog/view/theme/newstore/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),url('catalog/view/theme/newstore/font-awesome/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),url('catalog/view/theme/newstore/font-awesome/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),url('catalog/view/theme/newstore/font-awesome/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),url('catalog/view/theme/newstore/font-awesome/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');font-weight:normal;font-style:normal}
@font-face {font-display:swap;font-family:'Marck Script';src: url('catalog/view/theme/newstore/stylesheet/fonts/MarckScriptRegular.ttf');}
</style>
{{ cssnewstore }}
{% if (minifycss) %}
{% for style in styles %}<link href="{{ style['href'] }}" rel="{{ style['rel'] }}" media="{{ style['media'] }}" />{% endfor %}
{% endif %}
{% if (config_ns_themes_custom_bg_mode) %}
{% if (config_themes_custom_bg_img_preview !='') %}
<style>body {background:url('image/{{ config_themes_custom_bg_img_preview }}'){% if (config_themes_custom_bg_repeat) %} {{ config_themes_custom_bg_repeat }} {% endif %} {% if (config_themes_custom_bg_attachment) %} {{ config_themes_custom_bg_attachment }} {% endif %} {% if (config_themes_custom_bg_position) %} {{ config_themes_custom_bg_position }} {% endif %};}</style>
{% endif %}
{% elseif(config_ns_themes_custom_bg_mode_color !='') %}
<style>body{background-color: {{ config_ns_themes_custom_bg_mode_color }};}</style>
{% endif %}
{% if (config_on_off_shopping_cart_hover == '1') %}<style>#cart:hover .dropdown-menu{display:block;}#cart:hover .dropdown-menu:before{content:"";position:absolute;top:-7px;width:100%;height:9px;background:transperent;}#cart:hover .car-down{-webkit-transform: rotate(-180deg);transform: rotate(-180deg);}</style>{% endif %}
{% if (nst_data.header_bg_mode is defined and (nst_data.header_bg_mode == '1')) %}
{% if (nst_data.header_bg_img) %}<style>header {margin-bottom:10px;background:url('image/{{ nst_data.header_bg_img }}'){% if (nst_data.header_bg_repeat) %} {{ nst_data.header_bg_repeat }} {% endif %} {% if (nst_data.header_bg_position) %} {{ nst_data.header_bg_position }} {% endif %};}</style>{% endif %}
{% elseif (nst_data.header_bg_mode is defined and (nst_data.header_bg_mode == '0')) %}
{% if (nst_data.header_bg_mode_color != '') %}<style>header {margin-bottom:10px;background-color: {{ nst_data.header_bg_mode_color }};}</style>{% endif %}
{% endif %}
{% if (nst_data.defaut_display_view is defined) %}<script>
if (localStorage.getItem('display') === null) {localStorage.setItem('display', '{{ nst_data.defaut_display_view }}');}</script>{% endif %}
{% if (nst_data.nsfullwidth is defined and (nst_data.nsfullwidth == 1)) %}
<style>
@media (max-width: 520px) {
.product-slider .owl-item .item {margin:0px 5px;}
.product-slider {margin:0px -5px;}
}
@media (min-width: 1360px){
.container { width: calc(100% - 20px);}
header .col-md-3.logo-top {width:20%;}
header .col-md-3.menu-box {width:20%;}
header .dop-right-menu {width:80%;}
header .phone-box.col-md-3.col-md-push-4 {left: 42%;}
header .phone-box.col-md-3.col-md-push-5 {left: 48%;}
header .box-search.col-md-4.col-md-pull-2 {width:42%;right:13%}
header .box-search.col-md-4.col-md-pull-5 {width:42%;right:38%}
header .box-search.col-md-5.col-md-pull-4 {width:48%;right:32%}
header .box-search.col-md-5.col-md-pull-1 {width:48%;right:7%}
header .col-md-9.col-md-push-3 {width:80%;left:20%}
header .box-cart.col-md-2.col-md-push-4 {width:13%;left:42%}
header .box-cart.col-md-1.col-md-push-5{width:7%;left:48%}
.breadcrumb.col-lg-offset-3, .breadcrumb.col-md-offset-3 {margin-left: 20.4%;}
.container .sw-80 {width: 80%;}
.container .sw-20 {width: 20%;}
#content.col-md-9 {width: 80%;}
#content.col-sm-9 {width: 80%;}
#column-left.col-md-3,#column-right.col-md-3{ width:20%;}
}
</style>
{% else %}
<style>
.product-grid.grid4.col-1 .actions .cart .btn-general {padding:7.5px 6px;}
.product-grid.grid4.col-1 .actions .cart i {display:none;}
.product-grid.grid4.col-lg-1-5 .actions .cart .btn-general {padding:7.5px 6px;}
.product-grid.grid4.col-lg-1-5 .actions .cart i {display:none;}
</style>
{% endif %}
<style>
.sticker-ns.popular .fa{color:{{ config_change_color_icon_sticker_popular }}}
.sticker-ns.popular{background: {{ config_change_background_sticker_popular }} none repeat scroll 0 0;color:{{ config_change_color_text_sticker_popular }};}
.sticker-ns.special .fa{color:{{ config_change_color_icon_sticker_special }}}
.sticker-ns.special{background: {{ config_change_background_sticker_special }} none repeat scroll 0 0;color:{{ config_change_color_text_sticker_special }};}
.sticker-ns.bestseller .fa{color:{{ config_change_color_icon_sticker_topbestseller }}}
.sticker-ns.bestseller{background: {{ config_change_background_sticker_topbestseller }} none repeat scroll 0 0;color:{{ config_change_color_text_sticker_topbestseller }};}
.sticker-ns.newproduct .fa{color:{{ config_change_color_icon_sticker_newproduct }}}
.sticker-ns.newproduct{background: {{ config_change_background_sticker_newproduct }} none repeat scroll 0 0;color:{{ config_change_color_text_sticker_newproduct }};}
</style>
{{ jsnewstore }}
<link href="catalog/view/javascript/jquery/owl-carousel/owl.carousel.css" rel="stylesheet" media="screen" />
<link href="catalog/view/javascript/jquery/owl-carousel/owl.transitions.css" rel="stylesheet" media="screen" />
<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js"></script>
<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js"></script>
<script src="catalog/view/javascript/jquery/owl-carousel/owl.carousel.min.js"></script>
<script src="catalog/view/theme/newstore/js/jquery.menu-aim.js"></script>
<script src="catalog/view/javascript/common.js"></script>
<script src="catalog/view/theme/newstore/js/common.js"></script>
{% for script in scripts %}
<script src="{{ script }}"></script>
{% endfor %}
<script>
function init(elem, options){
elem.addClass('countdownHolder');
$.each(['Days','Hours','Minutes','Sec'],function(i){
var clas;
if (this=='Days') {clas="{{ days }}";}
if (this=='Hours') {clas="{{ hours }}";}
if (this=='Minutes') {clas="{{ minutes }}";}
if (this=='Sec') {clas="{{ sec }}";}
out_timer = "";
out_timer += '<span class="count'+this+'">';
out_timer += '<span class="num-time">';
out_timer += '<span class="position"><span class="digit static">0</span></span>';
out_timer += '<span class="position"><span class="digit static">0</span></span>';
out_timer += '</span>';
out_timer += '<span class="time_productany">'+clas+'</span>';
out_timer += '</span>';
$(out_timer).appendTo(elem);
});
}
var button_shopping = "{{ button_shopping }}";
var button_checkout = "{{ button_checkout }}";
var link_checkout = "{{ checkout }}";
var link_newstorecheckout = "{{ newstorecheckout }}";
var text_showmore = '{{ text_showmore}}';
var color_schem = '{{ color_schem}}';
var loading_masked_img = '<img src="catalog/view/theme/newstore/image/ring-alt-'+ color_schem +'.svg" />';
function loading_masked(action) {
	if (action) {
		$('.loading_masked').html(loading_masked_img);
		$('.loading_masked').show();
	} else {
		$('.loading_masked').html('');
		$('.loading_masked').hide();
	}
}
function creatOverlayLoadPage(action) {
	if (action) {
		$('#messageLoadPage').html(loading_masked_img);
		$('#messageLoadPage').show();
	} else {
		$('#messageLoadPage').html('');
		$('#messageLoadPage').hide();
	}
}
</script>
{% if (on_off_search == '1') %}
<script>var text_autosearch_view_all = "{{ text_autosearch_view_all }}";</script>
{% endif %}
{% for analytic in analytics %}
{{ analytic }}
{% endfor %}
{% if (hbannerpc[lang_id]['image'] is defined) %}<style>.htop-b-pc img {margin:0 auto;}</style>{% endif %}
{% if (hbannermob[lang_id]['image'] is defined and (hbannermob[lang_id]['image'] != '')) %}<style>.htop-b-mob img {margin:0 auto;}
{% if (main_menu_fix_mobile is defined and (main_menu_fix_mobile == 1)) %}.htop-b-mob{padding-top:50px;}{% endif %}
{% if (main_menu_fix_mobile is defined and (main_menu_fix_mobile == 1)) %}header.pad-top{padding-top:5px;}{% endif %}</style>{% endif %}
<link href="catalog/view/theme/newstore/stylesheet/fortune-modern.css?v=20260715social6" rel="stylesheet" media="screen" />
<script>
document.addEventListener("click", function(e) {
  var btn = e.target.closest(".product-thumb .btn-wishlist");
  if (btn) {
    e.preventDefault();
    e.stopPropagation();
    var thumb = btn.closest(".product-thumb");
    var titleEl = thumb.querySelector(".product-name a");
    var title = titleEl ? titleEl.textContent.trim() : "";
    var url = "https://wa.me/77789707140?text=" + encodeURIComponent("Здравствуйте! Интересует цена товара: " + title);
    window.open(url, "_blank");
  }
});
</script>
<script>
document.addEventListener("click", function(e) {
  var btn = e.target.closest(".product-thumb .btn-wishlist");
  if (btn) {
    e.preventDefault();
    e.stopPropagation();
    var thumb = btn.closest(".product-thumb");
    var titleEl = thumb.querySelector(".product-name a");
    var title = titleEl ? titleEl.textContent.trim() : "";
    var url = "https://wa.me/77789707140?text=" + encodeURIComponent("Здравствуйте! Интересует цена товара: " + title);
    window.open(url, "_blank");
  }
});
</script>
</head>
<body class="{{ class }}">
<div class="fp-social-sidebar" aria-label="Социальные сети Fortune PROM">
  <a class="fp-social-link fp-social-link--whatsapp" href="https://api.whatsapp.com/send/?phone=77789707140" target="_blank" rel="noopener noreferrer" aria-label="Написать в WhatsApp">
    <i class="fa fa-whatsapp" aria-hidden="true"></i>
    <span>WhatsApp</span>
  </a>
  <a class="fp-social-link fp-social-link--telegram" href="https://t.me/+77789707140" target="_blank" rel="noopener noreferrer" aria-label="Написать в Telegram">
    <i class="fa fa-telegram" aria-hidden="true"></i>
    <span>Telegram</span>
  </a>
  <a class="fp-social-link fp-social-link--instagram" href="https://www.instagram.com/too_fortuneprom/" target="_blank" rel="noopener noreferrer" aria-label="Наш Instagram">
    <i class="fa fa-instagram" aria-hidden="true"></i>
    <span>Instagram</span>
  </a>
  <a class="fp-social-link fp-social-link--facebook" href="https://www.facebook.com/fortune.promtoo" target="_blank" rel="noopener noreferrer" aria-label="Наша страница в Facebook">
    <i class="fa fa-facebook" aria-hidden="true"></i>
    <span>Facebook</span>
  </a>
  <a class="fp-social-link fp-social-link--youtube" href="https://www.youtube.com/@fortuneprom5024" target="_blank" rel="noopener noreferrer" aria-label="Наш YouTube канал">
    <i class="fa fa-youtube-play" aria-hidden="true"></i>
    <span>YouTube</span>
  </a>
</div>
{% if (hbannerpc[lang_id]['image'] is defined and (hbannerpc[lang_id]['image'] != '')) %}
<div class="htop-b-pc hidden-xs hidden-sm" {% if (nst_data['hbannerpc'][lang_id]['bg'] is defined and (nst_data['hbannerpc'][lang_id]['bg'] != '')) %}style="background:{{ nst_data['hbannerpc'][lang_id]['bg'] }}"{% endif %}>
{% if nst_data['hbannerpc'][lang_id]['link'] is not empty %}
  <a href="{{ nst_data['hbannerpc'][lang_id]['link'] }}">
{% else %}
  <span>
{% endif %}

  {{ nst_data['hbannerpc'][lang_id]['title'] }}

{% if nst_data['hbannerpc'][lang_id]['link'] is not empty %}
  </a>
{% else %}
  </span>
{% endif %}
	<img src="{{ hbannerpc[lang_id]['image'] }}" alt="" class="img-responsive" />
</a>
</div>
{% endif %}
{% if (hbannermob[lang_id]['image'] is defined and (hbannermob[lang_id]['image'] != '')) %}
<div class="htop-b-mob visible-xs visible-sm" {% if (nst_data['hbannermob'][lang_id]['bg'] is defined and (nst_data['hbannermob'][lang_id]['bg'] != '')) %}style="background:{{ nst_data['hbannermob'][lang_id]['bg'] }}"{% endif %}>
{% if nst_data['hbannerpc'][lang_id]['link'] is not empty %}
  <a href="{{ nst_data['hbannerpc'][lang_id]['link'] }}">
{% else %}
  <span>
{% endif %}

  {{ nst_data['hbannerpc'][lang_id]['title'] }}

{% if nst_data['hbannerpc'][lang_id]['link'] is not empty %}
  </a>
{% else %}
  </span>
{% endif %}
	<img src="{{ hbannermob[lang_id]['image'] }}" class="img-responsive" />
</a>
</div>
{% endif %}
<div class="fp-floating-actions" aria-label="Быстрые действия">
  <a class="fp-floating-btn fp-floating-btn--whatsapp" href="https://wa.me/77789707140?text=%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5!%20%D0%9D%D1%83%D0%B6%D0%BD%D0%B0%20%D0%BF%D0%BE%D0%BC%D0%BE%D1%89%D1%8C%20%D1%81%20%D0%BF%D0%BE%D0%B4%D0%B1%D0%BE%D1%80%D0%BE%D0%BC%20%D0%BE%D0%B1%D0%BE%D1%80%D1%83%D0%B4%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D1%8F." target="_blank" rel="noopener noreferrer" aria-label="Написать в WhatsApp">
    <i class="fa fa-whatsapp" aria-hidden="true"></i>
    <span>WhatsApp</span>
  </a>
  <button class="fp-floating-btn fp-floating-btn--top" type="button" aria-label="Вернуться наверх">
    <i class="fa fa-chevron-up" aria-hidden="true"></i>
    <span>Наверх</span>
  </button>
</div>
<div id="login-form-popup" class="modal fade" role="dialog">
	<div class="modal-dialog modal-login">
		<div class="modal-content">
			<form>
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">{{ text_login }}</h4>
				</div>
				<div class="modal-body">
				<div class="form-group">
					<div class="message"></div>
				</div>
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
							<input type="text" name="emailpopup" value="" placeholder="{{ entry_email|replace({ (':'): '' }) }}" id="input-email-popup" class="form-control" autocomplete="username" />
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-lock"></i></span>
							<input type="password" name="passwordpopup" value="" placeholder="{{ entry_password|replace({ (':'): '' }) }}" id="input-password-popup" class="form-control" autocomplete="current-password" />
						</div>
					</div>
					<div class="form-group text-center">
						<a href="{{ register }}">{{ text_register }}</a> | <a href="{{ forgotten }}">{{ text_forgotten }}</a>
					</div>
				</div>
				<div class="modal-footer">
					<input type="button" value="{{ button_login }}" id="button-login-popup" class="btn-login btn-block" />
				</div>
			</form>
		</div>
	</div>
</div>
<nav id="top">
  <div class="container">
    <div class="top-bar-flex">
      <div class="top-bar-left hidden-xs hidden-sm">
        <span class="top-info-item"><i class="fa fa-truck"></i> Доставка по Казахстану за 1-5 дней</span>
        <span class="top-info-item"><i class="fa fa-shield"></i> Гарантия на оборудование 12 месяцев</span>
        <span class="top-info-item"><i class="fa fa-briefcase"></i> Работаем с ТОО и ИП</span>
        <span class="top-info-item"><i class="fa fa-cogs"></i> Подбор оборудования под вашу задачу</span>
      </div>
      <div class="top-bar-right">
        <a href="index.php?route=information/information&information_id=4" class="top-link">О компании</a>
        <a href="index.php?route=information/news" class="top-link">Новости</a>
        <a href="index.php?route=information/information&information_id=6" class="top-link">Доставка и оплата</a>
        <a href="index.php?route=information/contact" class="top-link">Контакты</a>
        
        <div class="box-account-inline">
          <a href="{{ account }}" class="top-link"><i class="fa fa-user-circle-o"></i> Личный кабинет</a>
        </div>
        
        <div style="display:none;">
          {{ currency }}
          {{ language }}
        </div>
      </div>
    </div>
  </div>
</nav>
<header {% if (main_menu_fix_mobile is defined and (main_menu_fix_mobile == 1)) %}class="pad-top"{% endif %}>
<div class="container">
<div class="fp-header-row">
      <div class="fp-logo">
        <div id="logo">
        {% if (logo) %}
            {% if (home == home_page) %}
              <img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" />
            {% else %}
              <a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a>
            {% endif %}
          {% else %}
            <h1><a href="{{ home }}">{{ name }}</a></h1>
          {% endif %}
        </div>
      </div>

      <div class="fp-catalog-btn dropdown">
        <button class="fp-btn-catalog dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-bars"></i> Каталог
        </button>
        <ul class="dropdown-menu">
          <li><a href="reduktory"><i class="fa fa-cogs"></i> Редукторы</a></li>
          <li><a href="elektrodvigateli"><i class="fa fa-bolt"></i> Электродвигатели</a></li>
          <li><a href="nasosy"><i class="fa fa-tint"></i> Насосы</a></li>
          <li><a href="konveyernoe-oborudovanie"><i class="fa fa-exchange"></i> Конвейерное оборудование</a></li>
          <li><a href="gruzopodemnoe-oborudovanie"><i class="fa fa-arrow-up"></i> Грузоподъемное оборудование</a></li>
          <li><a href="generatory"><i class="fa fa-tachometer"></i> Генераторы</a></li>
          <li><a href="kompressory"><i class="fa fa-compress"></i> Компрессоры</a></li>
          <li><a href="stanki"><i class="fa fa-wrench"></i> Станки</a></li>
        </ul>
      </div>

      <div class="fp-search">{{ search }}</div>

      <div class="fp-phones">
        <div id="phone">
          <div class="contact-header">
            <div class="additional-tel">
              <a href="tel:+77789707140"><i class="fa fa-phone"></i> +7 778 970 71 40</a>
            </div>
            <div class="additional-tel">
              <a href="https://wa.me/77789707140" target="_blank"><i class="fa fa-whatsapp"></i> +7 778 970 71 40</a>
            </div>
            <div class="text_after_phone">Отдел снабжения</div>
          </div>
        </div>
      </div>

      <div class="fp-actions">
        <a href="index.php?route=account/wishlist" class="fp-action-btn" title="Избранное">
          <i class="fa fa-heart"></i>
          <span>Избранное</span>
        </a>
        <a href="index.php?route=product/compare" class="fp-action-btn" title="Сравнение">
          <i class="fa fa-bar-chart-o"></i>
          <span>Сравнение</span>
        </a>
        <a href="{{ account }}" class="fp-action-btn" title="Войти">
          <i class="fa fa-user"></i>
          <span>Войти</span>
        </a>
        <div class="fp-cart-btn">{{ cart }}</div>
      </div>
</div>
</div>
{{ menuns }}
</header>

<script>
function formatHeaderCart() {
  var cartBtn = $('#cart > button');
  if (cartBtn.length && !cartBtn.hasClass('formatted')) {
    var totalText = cartBtn.find('.cart-total').text();
    var count = 0;
    var matches = totalText.match(/(\d+)/);
    if (matches && matches[1]) {
      count = parseInt(matches[1]);
    }

    cartBtn.html(
      '<div class="cart-icon-wrapper">' +
        '<i class="fa fa-shopping-bag"></i>' +
        '<span class="cart-count-badge">' + count + '</span>' +
      '</div>' +
      '<span class="cart-btn-label">Корзина</span>'
    );
    cartBtn.addClass('formatted');
  }
}

$(document).ready(function() {
  formatHeaderCart();

  var observer = new MutationObserver(function() {
    var cartBtn = $('#cart > button');
    if (cartBtn.length && !cartBtn.hasClass('formatted')) {
      formatHeaderCart();
    }
  });
  var target = document.getElementById('cart');
  if (target) {
    observer.observe(target, { childList: true, subtree: true });
  }
});
</script>
<script>
(function() {
  function onReady(fn) {
    if (document.readyState === "loading") {
      document.addEventListener("DOMContentLoaded", fn);
    } else {
      fn();
    }
  }

  onReady(function() {
    var topBtn = document.querySelector(".fp-floating-btn--top");
    if (!topBtn) {
      return;
    }

    function toggleTopButton() {
      topBtn.classList.toggle("is-visible", window.pageYOffset > 420);
    }

    topBtn.addEventListener("click", function() {
      var reduceMotion = window.matchMedia && window.matchMedia("(prefers-reduced-motion: reduce)").matches;
      window.scrollTo({
        top: 0,
        behavior: reduceMotion ? "auto" : "smooth"
      });
    });

    window.addEventListener("scroll", toggleTopButton, { passive: true });
    toggleTopButton();
  });
})();
</script>
