<div id="slideshow{{ module }}" class="owl-carousel main-slideshow-carousel">
  {% for banner in banners %} 
  <div class="item">
    {% if (banner.link) %} 
    <a href="{{ banner.link }}"><img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" /></a>
    {% else %} 
    <img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" />
    {% endif %} 
  </div>
  {% endfor %} 
</div>
<script>
(function initMainSlider() {
  if (typeof jQuery !== 'undefined' && typeof jQuery.fn.owlCarousel !== 'undefined') {
    $('#slideshow{{ module }}').owlCarousel({
      singleItem: true,
      autoPlay: 6000,
      stopOnHover: true,
      navigation: true,
      navigationText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>'],
      pagination: true,
      slideSpeed: 400,
      paginationSpeed: 500
    });
  } else {
    setTimeout(initMainSlider, 50);
  }
})();
</script>
