<footer>
  <div class="footer-modern">
    <div class="container">
      <div class="row banner-footer">
        <div class="col-sm-6 col-md-3">
          <div class="block-banner-footer">
            <div class="icon-banner-footer"><i class="fa fa-truck"></i></div>
            <div class="text-footer-banner">
              <div class="banner-title-footer"><h3>Доставка</h3></div>
              <span class="banner-description-footer">По Алматы и всему Казахстану</span>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="block-banner-footer">
            <div class="icon-banner-footer"><i class="fa fa-shield"></i></div>
            <div class="text-footer-banner">
              <div class="banner-title-footer"><h3>Гарантия</h3></div>
              <span class="banner-description-footer">От 12 месяцев на всё оборудование</span>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="block-banner-footer">
            <div class="icon-banner-footer"><i class="fa fa-cogs"></i></div>
            <div class="text-footer-banner">
              <div class="banner-title-footer"><h3>Подбор</h3></div>
              <span class="banner-description-footer">Поможем подобрать оборудование</span>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="block-banner-footer">
            <div class="icon-banner-footer"><i class="fa fa-thumbs-up"></i></div>
            <div class="text-footer-banner">
              <div class="banner-title-footer"><h3>Качество</h3></div>
              <span class="banner-description-footer">Только проверенные бренды</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container footer-main">
      <div class="row">
        <div class="col-md-3 col-sm-6 footer-col">
          <h4 class="footer-title">Каталог</h4>
          <ul class="footer-links list-unstyled">
            <li><a href="https://fortuneprom.kz/reduktory">Редукторы</a></li>
            <li><a href="https://fortuneprom.kz/electrodvigateli">Электродвигатели</a></li>
            <li><a href="https://fortuneprom.kz/nasosnoe-oborudovanie">Насосы</a></li>
            <li><a href="https://fortuneprom.kz/promyshlennye-generatory">Генераторы</a></li>
            <li><a href="https://fortuneprom.kz/gruzopodemnoe-oborudovanie">Грузоподъёмное оборудование</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 footer-col">
          <h4 class="footer-title">Покупателям</h4>
          <ul class="footer-links list-unstyled">
            <li><a href="https://fortuneprom.kz/index.php?route=information/information&information_id=6">Отзывы</a></li>
            <li><a href="https://fortuneprom.kz/index.php?route=information/information&information_id=7">Доставка и оплата</a></li>
            <li><a href="https://fortuneprom.kz/index.php?route=information/information&information_id=3">Политика конфиденциальности</a></li>
            <li><a href="https://fortuneprom.kz/index.php?route=information/information&information_id=4">Условия соглашения</a></li>
            <li><a href="https://fortuneprom.kz/index.php?route=information/sitemap">Карта сайта</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 footer-col">
          <h4 class="footer-title">Компания</h4>
          <ul class="footer-links list-unstyled">
            <li><a href="https://fortuneprom.kz/index.php?route=information/information&information_id=1">О компании</a></li>
            <li><a href="https://fortuneprom.kz/index.php?route=information/contact">Контакты</a></li>
            <li><a href="https://fortuneprom.kz/index.php?route=product/manufacturer">Производители</a></li>
            <li><a href="https://fortuneprom.kz/index.php?route=account/account">Личный кабинет</a></li>
          </ul>
          <h4 class="footer-title footer-social-title">Мы в соцсетях</h4>
          <div class="footer-social">
            <a href="https://wa.me/77775887716" target="_blank"><i class="fa fa-whatsapp"></i></a>
            <a href="https://t.me/fortuneprom" target="_blank"><i class="fa fa-telegram"></i></a>
            <a href="https://www.instagram.com/fortuneprom.kz" target="_blank"><i class="fa fa-instagram"></i></a>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 footer-col footer-contacts-col">
          <h4 class="footer-title">Контакты</h4>
          <ul class="footer-contact-list list-unstyled">
            <li><i class="fa fa-phone"></i> <a href="tel:+77273276002">+7 (727) 327-60-02</a></li>
            <li><i class="fa fa-phone"></i> <a href="tel:+77775887716">+7 (777) 588-77-16</a></li>
            <li><i class="fa fa-envelope"></i> <a href="mailto:info@fortuneprom.kz">info@fortuneprom.kz</a></li>
            <li><i class="fa fa-map-marker"></i> г. Алматы, проспект Райымбека 498</li>
            <li><i class="fa fa-clock-o"></i> Пн–Пт: 09:00–18:00</li>
          </ul>
        </div>
      </div>
      <div class="row footer-map-row">
        <div class="col-xs-12">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2907.378526829042!2d76.85817477660455!3d43.22666177112599!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3883692f17ac47bf%3A0x45d8e7e7f9f5c0b2!2z0L_RgNC-0YHQv9C10LrRgiDQoNCw0LnQvNC10L3RgdC60LDRjywgNDk4LCDQkNC70LzQsNGC0YsgMDUwMDAw!5e0!3m2!1sru!2skz!4v1710000000000!5m2!1sru!2skz" width="100%" height="240" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
    <div class="footer-bottom-bar">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <p class="footer-copy">© 2025 Fortune PROM. Все права защищены.</p>
          </div>
          <div class="col-sm-6 text-right">
            <p class="footer-payments">Принимаем к оплате: <i class="fa fa-cc-visa"></i> <i class="fa fa-cc-mastercard"></i> <i class="fa fa-money"></i></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<script>
function price_format(n){
	c = {{ currency['decimals'] is defined and currency['decimals'] is not empty ? currency['decimals'] : "0" }};
	d = '{{ currency['decimal_point'] is defined ? currency['decimal_point'] : "." }}';
	t = '{{ currency['thousand_point'] is defined ? currency['thousand_point'] : "" }}';
	s_left = '{{ currency['symbol_left'] is defined ? currency['symbol_left'] : "" }}';
	s_right = '{{ currency['symbol_right'] is defined ? currency['symbol_right'] : "" }}';
	n = n * {{ currency['value'] is defined and currency['value'] is not empty ? currency['value'] : "1" }};
	i = parseInt(n = Math.abs(n).toFixed(c)) + '';
	j = ((j = i.length) > 3) ? j % 3 : 0;
	return s_left + (j ? i.substr(0, j) + t : '') + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : '') + s_right;
}
</script>
</body></html>
